---
import { marked } from "marked";
import { getLocale } from "@/paraglide/runtime";
import { content } from "./index.content";
const locale = getLocale();
marked.use({
  gfm: true,
  breaks: true,
});
---

<section
  class="container xl:max-w-7xl pt-8 px-4 overflow-hidden flex flex-col items-center"
>
  <div class="w-full max-w-5xl mt-12">
    <h2
      class="text-4xl font-display font-bold uppercase tracking-wider text-[#ffb586]"
    >
      {content[locale].section_title}
    </h2>
    <div class="mt-8 space-y-4">
      <h4>
        <span class="font-bold text-accent-500">{content[locale].jobTitle}</span
        >
      </h4>
      <p>
        <span class="font-bold">{content[locale].company}</span>
      </p>
      <p>Buenos Aires, Argentina</p>
      <div set:html={marked.parse(content[locale].duration)} />
    </div>
    <div
      class="mt-4 space-y-2 description"
      set:html={marked.parse(content[locale].description)}
    />
  </div>
</section>

<style>
  .description :global(ul) {
    @apply list-disc ml-4 max-w-[90ch];
  }
  .description :global(ul li) {
    @apply mb-2;
  }
  .description :global(p) {
    @apply max-w-[80ch];
  }
</style>
